<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle> -->
    <!--   <ion-icon name="menu"></ion-icon> -->
    <!-- </button> -->
    <ion-title>
      <ion-buttons>
        <button ion-button>
          <img src="/assets/imgs/nav.png" />STAKE
        </button>
      </ion-buttons>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-fab right bottom (click)="addStakerAlert()">
  <button ion-fab color="blue"><ion-icon name="add"></ion-icon></button>
</ion-fab>

<ion-content>
  <ion-card *ngFor="let staker of stakers; index as id">
    <ion-card-header>
      <h1>{{staker.name}}</h1>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="staker.stats">
        <ion-row>
          <ion-col col-5>
            <button ion-button color="{{staker.stats.info.staking ? 'secondary' : 'danger'}}" block outline>
              WE STAKING?
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button color="{{staker.stats.info.staking ? 'secondary' : 'danger'}}" block outline>
              {{staker.stats.info.staking ? "Yes! ^_^" : "No! :'("}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button color="secondary" block outline>
              Balance
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button color="secondary" block outline>
              {{staker.stats.balance + staker.stats.unconfirmedbalance | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="staker.stats.unconfirmedbalance > 0.00">
          <ion-col col-5>
            <button ion-button color="danger" block outline>
              Unconfirmed Balance
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button color="danger" block outline>
              {{staker.stats.unconfirmedbalance | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button color="light" block outline>
              ETA to STAKE
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button color="light" block outline>
              {{staker.stats.eta}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button color="light" block outline>
              Last STAKE
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button color="light" block outline>
              {{staker.stats.laststake}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button block outline>
              Last 7D
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button block outline>
              {{staker.stats.last7d | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button block outline>
              Last 30D
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button block outline>
              {{staker.stats.last30d | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button block outline>
              Last 365D
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button block outline>
              {{staker.stats.last365d | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5>
            <button ion-button block outline>
              Alltime
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button block outline>
              {{staker.stats.alltime | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button block color="dark">
              7D AVG/Day
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button block color="dark">
              {{staker.stats.last7dAvg | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button block color="dark">
              30D AVG/Day
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button block color="dark">
              {{staker.stats.last30dAvg | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showDetails">
          <ion-col col-5>
            <button ion-button block color="dark">
              365D AVG/Day
            </button>
          </ion-col>
          <ion-col col-7>
            <button ion-button block color="dark">
              {{staker.stats.last365dAvg | number: '1.2-4'}}
            </button>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col col-12>
          <button ion-button icon-left color="light" block>
            <ion-icon name="link"></ion-icon> {{staker.url}}
          </button>
        </ion-col>
        <ion-col col-12>
          <ion-note>Last updated: {{staker.updated ? (staker.updated) : 'never'}}</ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-7>
          <button ion-button icon-left color="info" block (click)="showDetails = !showDetails">
            <ion-icon name="analytics"></ion-icon>
            {{ !showDetails ? 'Show': 'Hide'}} Details
          </button>
        </ion-col>
        <ion-col col-5>
          <button ion-button icon-left color="danger" block (click)="deleteStakerAlert(id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
